html, body, #app {
  height: 100%;
  font-size: 1.2rem; }

#app {
  min-height: 667px;
  min-width: 992px;
  position: relative; }

.login {
  height: 100%; }
  .login .login_box {
    height: 100%; }
    .login .login_box .bg_img {
      height: 100%;
      background: #0f87dd url("./../img/bg.jpg") no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center center; }
    .login .login_box .login_form {
      height: 100%;
      background: #fff;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .login .login_box .login_form form {
        width: 60%;
        margin: 0 auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        .login .login_box .login_form form .logo_tit {
          margin: 12rem 0 6rem 0; }
        .login .login_box .login_form form .err_log {
          color: rgba(255, 10, 10, 0.9);
          padding: 1rem 0; }
        .login .login_box .login_form form .ivu-input-prefix {
          background: #fff;
          height: 3.7rem;
          line-height: 3.7rem;
          width: 3.7rem;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          margin: .1rem 0 0 .1rem; }
        .login .login_box .login_form form input, .login .login_box .login_form form button {
          border-radius: 0; }
        .login .login_box .login_form form button {
          height: 3.6rem;
          width: 8rem; }
        .login .login_box .login_form form input {
          height: 4rem;
          text-indent: 2rem;
          font-size: 1.1rem; }

.layout_all {
  height: 100%;
  position: relative; }
  .layout_all .layout_content {
    height: 100%;
    padding-top: 75px;
    padding-left: 240px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .layout_all .layout_side {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    padding-top: 75px;
    z-index: 888;
    -background: #363E4F; }
    .layout_all .layout_side > ul {
      height: 100%; }
  .layout_all .layout_scroll {
    padding: 2rem;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden; }
    .layout_all .layout_scroll::-webkit-scrollbar {
      display: none; }

.headtemp {
  width: 100%;
  height: 75px;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  box-shadow: 0 0 10px rgba(100, 100, 100, 0.4);
  background: #fff;
  padding: 0 4rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .headtemp .log_img {
    border-right: 1px solid #7e8c8d;
    padding-right: 2rem;
    margin-right: 2rem;
    height: 35px;
    margin-top: 20px; }
  .headtemp .log_tit {
    display: inline-block;
    line-height: 75px; }
  .headtemp .head_right i {
    font-size: 3rem;
    margin-left: 1rem;
    font-weight: bolder;
    cursor: pointer; }

.lay_row:not(:nth-of-type(1)) {
  margin-top: 2rem; }
  .lay_row:not(:nth-of-type(1)) .lay_title {
    margin-right: 2rem; }
  .lay_row:not(:nth-of-type(1)) .total_checkbox {
    margin-left: 2rem; }
  .lay_row:not(:nth-of-type(1)) .data_total {
    margin-right: 1rem; }
  .lay_row:not(:nth-of-type(1)) .clear_data {
    margin-left: 1rem;
    color: #0c7cd5;
    cursor: pointer; }
  .lay_row:not(:nth-of-type(1)) .add_btn {
    width: 120px;
    height: 38px;
    font-size: 1.2rem; }

.export_btn .sub_btn {
  position: absolute;
  bottom: 38px;
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
  border-radius: 2px;
  background: #e8eaec; }
  .export_btn .sub_btn .sub_export_btn {
    height: 38px;
    width: 120px;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    font-size: 13px; }
  .export_btn .sub_btn .sub_export_ratio {
    height: 38px;
    width: 120px;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    font-size: 13px; }
.export_btn .btn_name {
  width: 120px;
  height: 38px; }
.export_btn:hover .sub_btn_1 {
  height: 38px; }
.export_btn:hover .sub_btn_2 {
  height: 76px; }
.export_btn:hover .sub_btn_3 {
  height: 114px; }
.export_btn:hover .sub_btn_4 {
  height: 152px; }
.export_btn:hover .sub_btn_5 {
  height: 190px; }
.export_btn:hover .sub_btn_6 {
  height: 228px; }
.export_btn:hover .sub_btn_7 {
  height: 266px; }
.export_btn:hover .sub_btn_8 {
  height: 304px; }
.export_btn:hover .sub_btn_9 {
  height: 342px; }

.ivu-modal-body {
  padding: 3rem; }

.change_password .ivu-form-item-error-tip, .change_userinfo .ivu-form-item-error-tip {
  left: 14rem; }
.change_password .code, .change_userinfo .code {
  width: 8rem; }

/*# sourceMappingURL=index.css.map */
