html,body,#app{
  height:100%;
  font-size:1.2rem;
}
#app{
  min-height:667px;
  min-width:992px;
  position: relative;
}
.login{
  height:100%;
  .login_box{
    height:100%;
    .bg_img{
      height:100%;
      background:#0f87dd url("./../img/bg.jpg") no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center center;
    }
    .login_form{
      height:100%;
      background: #fff;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      form{
        width:60%;
        margin:0 auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        .logo_tit{
          margin:12rem 0 6rem 0;
        }
        .err_log{
          color:rgba(255,10,10,.9);
          padding:1rem 0;
        }
        .ivu-input-prefix{
          background:#fff;
          height:3.7rem;
          line-height:3.7rem;
          width:3.7rem;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          margin:.1rem 0 0 .1rem;
        }
        input,button{
          border-radius:0;
        }
        button{
          height:3.6rem;
          width:8rem;
        }
        input{
          height:4rem;
          text-indent: 2rem;
          font-size: 1.1rem;
        }
      }
    }
  }
}
.layout_all{
  height:100%;
  position:relative;
  .layout_content{
    height:100%;
    padding-top: 75px;
    padding-left:240px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .layout_side{
    position: absolute;
    left:0;
    top:0;
    height:100%;
    padding-top:75px;
    z-index:888;
    background:#363E4F;
  }
}
.headtemp{
  width:100%;
  height:75px;
  position:absolute;
  z-index:999;
  top:0;
  left:0;
  box-shadow: 0 0 10px rgba(100,100,100,.4);
  background:#fff;
  padding:0 4rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  .log_img{
    border-right:1px solid #7e8c8d;
    padding-right:2rem;
    margin-right:2rem;
    height:35px;
    margin-top:20px;
  }
  .log_tit{
    display: inline-block;
    line-height: 75px;
  }
  .head_right{
    i{
      font-size:3rem;
      margin-left:1rem;
      font-weight: bolder;
      cursor: pointer;
    }
  }

}

