html, body, #app {
  height: 100%;
  font-size: 1.2rem;
}

#app {
  min-height: 667px;
  min-width: 992px;
  position: relative;
}

.login {
  height: 100%;

  .login_box {
    height: 100%;

    .bg_img {
      height: 100%;
      background: #0f87dd url("./../img/bg.jpg") no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center center;
    }

    .login_form {
      height: 100%;
      background: #fff;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      form {
        width: 60%;
        margin: 0 auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        .logo_tit {
          margin: 12rem 0 6rem 0;
        }

        .err_log {
          color: rgba(255, 10, 10, .9);
          padding: 1rem 0;
        }

        .ivu-input-prefix {
          background: #fff;
          height: 3.7rem;
          line-height: 3.7rem;
          width: 3.7rem;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          margin: .1rem 0 0 .1rem;
        }

        input, button {
          border-radius: 0;
        }

        button {
          height: 3.6rem;
          width: 8rem;
        }

        input {
          height: 4rem;
          text-indent: 2rem;
          font-size: 1.1rem;
        }
      }
    }
  }
}

.layout_all {
  height: 100%;
  position: relative;

  .layout_content {
    height: 100%;
    padding-top: 75px;
    padding-left: 240px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .layout_side {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    padding-top: 75px;
    z-index: 888;
    -background: #363E4F;
    >ul{
      height:100%;
    }
  }
  .layout_scroll{
    padding:2rem;height:100%;
    overflow-y:scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar{
      display: none;
    }
  }
}

.headtemp {
  width: 100%;
  height: 75px;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  box-shadow: 0 0 10px rgba(100, 100, 100, .4);
  background: #fff;
  padding: 0 4rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  .log_img {
    border-right: 1px solid #7e8c8d;
    padding-right: 2rem;
    margin-right: 2rem;
    height: 35px;
    margin-top: 20px;
  }

  .log_tit {
    display: inline-block;
    line-height: 75px;
  }

  .head_right {
    i {
      font-size: 3rem;
      margin-left: 1rem;
      font-weight: bolder;
      cursor: pointer;
    }
  }
}

.lay_row:not(:nth-of-type(1)){
  margin-top:2rem;
  .lay_title{
    margin-right:2rem;
  }
  .total_checkbox{
    margin-left:2rem;
  }
  .data_total{
    margin-right:1rem;
  }
  .clear_data{
    margin-left:1rem;
    color:#0c7cd5;
    cursor:pointer;
  }
  .add_btn{
    width: 120px;
    height:38px;
    font-size: 1.2rem;
  }
}

.export_btn{
  .sub_btn{
    position:absolute;
    bottom:38px;
    height:0;
    overflow:hidden;
    transition: height 0.5s;
    border-radius:2px;
    background:#e8eaec;
    .sub_export_btn{
      height:38px;
      width:120px;
      line-height:38px;
      text-align:center;
      //color:$textColor;
      cursor:pointer;
      border-radius:2px;
      //background: $selectedColor;
      font-size: 13px;
    }
    .sub_export_ratio{
      height:38px;
      width:120px;
      line-height:38px;
      text-align:center;
      //color:$textColor;
      cursor:pointer;
      border-radius:2px;
      //background: $selectedColor;
      font-size: 13px;
    }
  }
  .btn_name {
    width:120px;
    height:38px;
  }
  &:hover{
    @for $i from 1 through 9{
      .sub_btn_#{$i}{
        height: 38px * $i;
      }
    }
  }
}
.ivu-modal-body{
    padding:3rem;
}
.change_password,.change_userinfo{
  .ivu-form-item-error-tip{
    left:14rem;
  }
  .code{
    width:8rem;
  }
}

@for $i from 1 through 40{
  .width_#{$i}{
    width: 50px * $i;
  }
}

.ivu-select-dropdown{
  max-height:400px;
  position:relative;
  max-width:200px;
}

.selectbar{
  .opt_row{
    margin-top:1rem;
  }
  .list_box{
    max-height:200px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .foot_box{
    height:50px;
    border-top:1px solid rgba(100,100,100,.2);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    .ivu-col{
      cursor: pointer;
    }
  }
}

